<div class="container">
  <form style=" font-family: 'Helvetica Neue'" [formGroup]="hopdongcreate" (ngSubmit)="onSubmit()">
    <br>
    <h1 style="text-align: center; color: #202040"> Thêm mới hợp đồng</h1>
    <div class="row">
      <div class="group col-md-6">
        <label>id hợp đồng</label>
        <input formControlName="idHD" type="number" class="form-control" placeholder="nid hợp đồng">
      </div>
    </div>
    <div class="row">
      <div class="group col-md-6">
        <label for="inputState">Nhân viên</label>
        <select formControlName="nhanVien" class="form-control">
          <option selected>Chọn nhân viên</option>
          <option value="quỳnh như">Quỳnh Như</option>
          <option value="Nguyễn Nga">Nguyễn Nga</option>
          <option value="hoàng xoan">Hoàng Xoan</option>
        </select>
      </div>
      <div class="group col-md-6">
        <label for="inputState">Khách hàng</label>
        <select formControlName="khachHang" id="inputState" class="form-control">
          <option selected>Chọn Khách hàng</option>
          <option value="ngọc khánh">Ngọc Khánh</option>
          <option value="trần nhậm">Trần Nhậm</option>
          <option value="hồng sơn">Hồng Sơn</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="group col-md-6">
        <label for="inputState">Dịch vụ</label>
        <select formControlName="dichVu" class="form-control">
          <option selected>Chọn dịch vụ</option>
          <option value="house">House</option>
          <option value="room">Room</option>
          <option value="villa">Villa</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="group col-md-6">
        <label>Ngày Làm hợp đồng</label>
        <input formControlName="ngayLamHD" type="date" class="form-control" placeholder="ngày làm hợp đồng">
      </div>
      <div class="group col-md-6">
        <label>Ngày Làm kết thúc</label>
        <input formControlName="ngayKetThucHD" type="date" class="form-control" placeholder="ngày  kết thúc">
      </div>
    </div>
    <div class="row">
      <div class="group col-md-6">
        <label>tiền đặt cọc</label>
        <input formControlName="tienDatCoc" type="number" class="form-control" placeholder="tiền cọc">
      </div>
      <div class="group col-md-6">
        <label>Tổng tiền</label>
        <input formControlName="tongtien" type="number" class="form-control" placeholder="tổng tiền">
      </div>
    </div>
    <br>
    <button type="submit" style="background:#6f42c1;border-color:#6f42c1" class="btn btn-primary">Thêm mới</button>
    <a routerLink="/hopdong">
      <button type="reset" style="background:#D97652;border-color:#D97652" class="btn btn-primary">Hủy</button>
    </a>
  </form>
</div>



