<p>Thông Tin nhân viên Id: {{nhanvieneviewaa.idNV}}</p>
<p>Họ tên : {{nhanvieneviewaa.tenNV}}</p>
<!--<p>Loại khách :{{khachhangview.loaiKh}}</p>-->
<!--<p>Email :{{khachhangview.eMail}}</p>-->
<!--<p>sđt :{{khachhangview.sDT}}</p>-->
<!--<p>số CMND : {{khachhangview.soCMND}}</p>-->
<!--<p>ngày sinh :{{khachhangview.ngaySinh}}</p>-->
<!--<p>địa chỉ : {{khachhangview.diaChi}}</p>-->
<button type="submit"  style="background:#6f42c1;border-color:#6f42c1" class="btn btn-primary">xóa</button>
<button type="reset" style="background:#D97652;border-color:#D97652" class="btn btn-primary">Hủy</button>
