<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="bootstrap413/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="datatables/css/dataTables.bootstrap4.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        .hover-bt {
            background: #38404d;
            color: white;

        }

        .hover-bt a:hover {
            background: white;
            color: black;
        }
    </style>
</head>
<body>
<div th:fragment="menu1">
    <title>Title</title>
    <link rel="stylesheet" href="bootstrap413/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="datatables/css/dataTables.bootstrap4.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        .hover-bt {
            background: #38404d;
            color: white;

        }

        .hover-bt a:hover {
            background: white;
            color: black;
        }
    </style>
    <nav class="navbar navbar-expand-lg navbar-light" style="background:#38404d ">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">🏠</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav nav-tabs mr-auto ">
                <li class="nav-item hover-bt">
                <span>
                                    <a class="nav-link hover-bt" th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Đăng Xuất</a>
                </span>
                    <span>
                                    <a  class="nav-link hover-bt" th:if="${#request.userPrincipal == null}" th:href="@{/login}">Đăng Nhập</a>
                </span>
                </li>
                <li class="nav-item hover-bt">
                    <a class="nav-link hover-bt" href="/nhanvien">Nhân Viên</a>
                </li>
                <li class="nav-item hover-bt">
                    <a class="nav-link hover-bt" href="/khachhang">Khách Hàng</a>
                </li>
                <li class="nav-item hover-bt">
                    <a class="nav-link  hover-bt" href="/dichvu">Dịch vụ</a>
                </li>
                <li class="nav-item  hover-bt">
                    <a class="nav-link hover-bt" href="/hopdong">Hợp đồng</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-right">
                <li class="nav-item">
                    <form method="post" action="${timkiem}?action=search">
                        <input type="search" name="name" placeholder="tìm kiếm?" aria-describedby="button-addon4"
                               class="form-control border-0">
                    </form>
                </li>
            </ul>
        </div>
    </nav>

</div>

</body>
</html>