<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Thêm mới học sinh</h3>

<form th:action="@{/edit/(id=${hocsinhs.id})}" method="post" th:object="${hocsinhs}">
    <label>Tên</label>
    <input type="text" th:field="*{ten}">
    <br>
    <label>Ngày sinh</label>
    <input type="text" th:field="*{ngaysinh}"><br>
    <label>Số điện thoại</label>
    <input type="text" th:field="*{sdt}"><br>

    <label>Lớp</label>
    <select th:field="*{lophoc}">
        <option th:each="lop : ${hocsinhs.lophoc}" th:text="${hocsinhs.lophoc.tenlop}" th:value="${hocsinhs.lophoc.id}"></option>

        <option th:each="lop : ${lops}" th:text="${lop.tenlop}" th:value="${lop.id}"></option>
    </select><br>
    <button>Edit</button>
</form>
</body>
</html>