<!doctype html>
<html lang="en">
<head>
  <title>Carousel 10</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<section class="ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="slider-hero">
          <div class="featured-carousel owl-carousel">
            <div class="item">
              <div class="work">
                <div class="img d-flex align-items-center justify-content-center" style="background-image: url(../../../assets/slider-1.jpg);">
                  <div class="text text-center">
                    <h2>Furama Resort Đà Nẵng</h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="work">
                <div class="img d-flex align-items-center justify-content-center" style="background-image: url(../../../assets/slider-2.jpg);">
                  <div class="text text-center">
                    <h2>Khu Nghỉ Dưỡng 5 🔅🔅🔅🔅🔅</h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="work">
                <div class="img d-flex align-items-center justify-content-center" style="background-image: url(../../../assets/slider-3.jpg);">
                  <div class="text text-center">
                    <h2>Tận Hưởng Cuộc Sống</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="my-5 text-center">
            <ul class="thumbnail">
              <li class="active img"><a href="#"><img src="../../../assets/thumb-1.jpg" alt="Image" class="img-fluid"></a></li>
              <li><a href="#"><img src="../../../assets/thumb-2.jpg" alt="Image" class="img-fluid"></a></li>
              <li><a href="#"><img src="../../../assets/thumb-3.jpg" alt="Image" class="img-fluid"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--<script src="js/jquery.min.js"></script>-->
<!--<script src="js/popper.js"></script>-->
<!--<script src="js/bootstrap.min.js"></script>-->
<!--<script src="js/owl.carousel.min.js"></script>-->
<!--<script src="js/main.js"></script>-->
</body>
</html>
