<body>
<footer class="footer-06">
  <div class="container">
    <div class="row align-items-center align-items-stretch mb-5">
      <div class="col-md-4 py-4 py-md-5 aside-stretch d-flex align-items-center">
        <div class="w-100">
          <span class="subheading">Đăng Ký Tư Vấn</span>
          <h3 class="heading-section">HỖ TRỢ</h3>
        </div>
      </div>
      <div class="col-md-8 py-4 py-md-5 d-flex align-items-center pl-md-5 aside-stretch-right">
        <form action="#" class="subscribe-form w-100">
          <div class="form-group d-flex">
            <input type="text" class="form-control rounded-left" placeholder="Vui lòng nhập email để được tư vấn...">
            <button type="submit" class="form-control submit"><span>Gửi</span></button>
          </div>
        </form>
      </div>
    </div>
    <div class="row pt-4">
      <div class="col-md-3 col-lg-6 order-md-last">
        <div class="row justify-content-end">
          <div class="col-md-12 col-lg-9 text-md-right mb-md-0 mb-4">
            <h2 class="footer-heading"><a href="#" class="logo">A1120i1</a></h2>
            <p class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              furama&copy;<script>document.write(new Date().getFullYear());</script> Mọi quyền được bảo lưu | Mẫu này được thực hiện bởi  <i class="ion-ios-heart" aria-hidden="true"></i>  <a href="https://colorlib.com" target="_blank">quynhnhu.com</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
      <div class="col-md-9 col-lg-6">
        <div class="row">
          <div class="col-md-4 mb-md-0 mb-4">
            <h2 class="footer-heading">Về chúng tôi</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="py-1 d-block"><span class="ion-ios-checkmark-circle-outline mr-2"></span>Địa Chỉ : TP.Đà Nẵng </a></li>
              <li><a href="#" class="py-1 d-block"><span class="ion-ios-checkmark-circle-outline mr-2"></span>quynhnhuctcn@gmail.com</a></li>
              <li><a href="#" class="py-1 d-block"><span class="ion-ios-checkmark-circle-outline mr-2"></span>SDT: 0815502607</a></li>
              <li><a href="#" class="py-1 d-block"><span class="ion-ios-checkmark-circle-outline mr-2"></span>Tuyển dụng</a></li>
              <li><a href="#" class="py-1 d-block"><span class="ion-ios-checkmark-circle-outline mr-2"></span>Báo chí</a></li>
            </ul>
          </div>
          <div class="col-md-4 mb-md-0 mb-4">
            <h2 class="footer-heading">Điểm du lịch</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="py-1 d-block"><span class="ion-ios-checkmark-circle-outline mr-2"></span>Quốc gia</a></li>
              <li><a href="#" class="py-1 d-block"><span class="ion-ios-checkmark-circle-outline mr-2"></span>Thành phố</a></li>
            </ul>
          </div>
          <div class="col-md-4 mb-md-0 mb-4">
            <h2 class="footer-heading">Trợ giúp</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="py-1 d-block"><span class="ion-ios-checkmark-circle-outline mr-2"></span>Câu hỏi</a></li>
              <li><a href="#" class="py-1 d-block"><span class="ion-ios-checkmark-circle-outline mr-2"></span>Chính sách</a></li>
              <li><a href="#" class="py-1 d-block"><span class="ion-ios-checkmark-circle-outline mr-2"></span>Điều Khoản</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>



<!--<script src="js/jquery.min.js"></script>-->
<!--<script src="js/popper.js"></script>-->
<!--<script src="js/bootstrap.min.js"></script>-->
<!--<script src="js/main.js"></script>-->
</body>
