<p>Thông tin nhân viên edit:</p>
<div class="form-group row pt-1">
  <label class="col-sm-2 col-form-label">Tên nhân viên</label>
  <div class="col-sm-4 pt-1">
    <input type="text" class="form-control" value="{{nhanvieneditaa.tenNV}}">
  </div>
  <label class="col-sm-2 col-form-label">vị trí</label>
  <div class="col-sm-4  pt-1">
    <input type="text" class="form-control" value="{{nhanvieneditaa.viTri}}">
  </div>
  <label class="col-sm-2 col-form-label">Trình độ</label>
  <div class="col-sm-4  pt-1">
    <input type="text" class="form-control" value="{{nhanvieneditaa.trinhDo}}">
  </div> <label class="col-sm-2 col-form-label">Bộ phận</label>
  <div class="col-sm-4  pt-1">
    <input type="text" class="form-control" value="{{nhanvieneditaa.boPhan}}">
  </div>
  <label class="col-sm-2 col-form-label">Email</label>
  <div class="col-sm-4 pt-1">
    <input type="text" class="form-control" value="{{nhanvieneditaa.eMail}}">
  </div>
  <label class="col-sm-2 col-form-label">Số điện thoại</label>
  <div class="col-sm-4 pt-1">
    <input type="text" class="form-control" value="{{nhanvieneditaa.sDT}}">
  </div>
  <label class="col-sm-2 col-form-label">Số CMDN</label>
  <div class="col-sm-4 pt-1">
    <input type="text" class="form-control" value="{{nhanvieneditaa.soCMND}}">
  </div>
  <label class="col-sm-2 col-form-label">Ngày Sinh</label>
  <div class="col-sm-4 pt-1">
    <input type="date" class="form-control" value="{{nhanvieneditaa.ngasySinh}}">
  </div>
  <label class="col-sm-2 col-form-label">Lương</label>
  <div class="col-sm-4 pt-1">
    <input type="number" class="form-control" value="{{nhanvieneditaa.luong}}">
  </div>
  <label class="col-sm-2 col-form-label">Địa chỉ</label>
  <div class="col-sm-4 pt-1">
    <input type="text" class="form-control" value="{{nhanvieneditaa.diaChi}}">
  </div>
</div>
<button type="submit" style="background:#6f42c1;border-color:#6f42c1" class="btn btn-primary">Lưu</button>
<button type="reset" style="background:#D97652;border-color:#D97652" class="btn btn-primary">Hủy</button>

