<div class="container">
  <form style="font-family: 'Helvetica Neue'">
    <h3 style="text-align: center"> Thêm mới  chi tiết hợp đồng</h3>
    <div class="row">
      <div class="group col-md-6">
        <label for="inputState">Hợp đồng</label>
        <select  class="form-control">
          <option selected>Chọn hợp đồng</option>
          <option>hợp đồng A</option>
          <option>Hợp đồng B</option>
        </select>
      </div>
      <div class="group col-md-6">
        <label for="inputState">Dịch vụ đi kèm</label>
        <select id="inputState" class="form-control">
          <option selected>Chọn dv đi kèm</option>
          <option>Massa</option>
          <option>Karaoke</option>
          <option>Tắm Biển</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="group col-md-6">
        <label >Số lượng</label>
        <input type="number" class="form-control" placeholder="Số lượng">
      </div>
    </div>
    <br>
    <button type="submit"  style="background:#6f42c1;border-color:#6f42c1" class="btn btn-primary">Thêm mới</button>
    <a routerLink="/hopdong"> <button type="reset" style="background:#D97652;border-color:#D97652" class="btn btn-primary">Hủy</button>  </a> </form>

</div>
