<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit khách hàng</title>
</head>
<body>
<a href="/khachhang">
    Trở lại danh sách khách hàng
</a>
<h3>Edit khách hàng</h3>
<form th:action="@{/edit/(id=${khachhangs.id})}" method="post" th:object="${khachhangs}">
    <label>Tên:</label>
    <input type="text" th:field="*{ten}"/>

    <label>Ngày sinh:</label>
    <input type="text" th:field="*{ngaysinh}"/>

    <label>SDT:</label>
    <input type="text" th:field="*{sdt}"/>
    <input type="submit" value="thêm mới">
</form>
</body>
</html>