<div class="container" style="font-family: 'Helvetica Neue'">

<h1 style="text-align: center; color: #202040"> Thông tin khách hàng edit:</h1>
<div class="form-group row pt-1">
  <label class="col-sm-2 col-form-label">id Khách Hàng</label>
  <div class="col-sm-4 pt-1">
    <input type="text" class="form-control" value="{{khachhangedits.idKH}}" >
  </div>
  <label class="col-sm-2 col-form-label">Tên Khách hàng</label>
  <div class="col-sm-4 pt-1">
    <input type="text" class="form-control" value="{{khachhangedits.tenKH}}">
  </div>
  <label class="col-sm-2 col-form-label">Loại Khách</label>
  <div class="col-sm-4  pt-1">
    <input type="text" class="form-control" value="{{khachhangedits.loaiKh}}">
  </div>
  <label class="col-sm-2 col-form-label">Email</label>
  <div class="col-sm-4 pt-1">
    <input type="text" class="form-control" value="{{khachhangedits.eMail}}">
  </div>
  <label class="col-sm-2 col-form-label">Số điện thoại</label>
  <div class="col-sm-4 pt-1">
    <input type="text" class="form-control" value="{{khachhangedits.sDT}}">
  </div>
  <label class="col-sm-2 col-form-label">Số CMDN</label>
  <div class="col-sm-4 pt-1">
    <input type="text" class="form-control" value="{{khachhangedits.soCMND}}">
  </div>
  <label class="col-sm-2 col-form-label">Ngày Sinh</label>
  <div class="col-sm-4 pt-1">
    <input type="text" class="form-control" value="{{khachhangedits.ngaySinh}}">
  </div>
  <label class="col-sm-2 col-form-label">Địa chỉ</label>
  <div class="col-sm-4 pt-1">
    <input type="text" class="form-control" value="{{khachhangedits.diaChi}}">
  </div>
</div>
<button type="submit" style="background:#6f42c1;border-color:#6f42c1" class="btn btn-primary">Lưu</button>
<a routerLink="/khachhang">
  <button type="reset" style="background:#D97652;border-color:#D97652" class="btn btn-primary">Hủy</button>
</a>
</div>
