<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="bootstrap413/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="datatables/css/dataTables.bootstrap4.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .link {
            background: #2C3E50;
        }

        .link :hover {
            background: black;
            color: white;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div th:insert="~{header :: header1}"></div>
    <div th:replace="~{menu :: menu1}"></div>
    <nav>
        <br>
        <center>
            <h2>Danh sách Nhân viên</h2>
        </center>
        <form method="get" action="/search">
            <input type="text" name="nameSearch" th:value="${nameSearch}">
            <button>Search</button>
        </form>
        <div class="row">
            <div class="col-sm-9">
            </div>
            <div class="col-sm-3">
                <button class="link"><a class="nav-link" href="/nhanvien/create" style="color:white;"> + Thêm
                    mới</a></button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-10">
                <div class="tab-content">
                    <div class="container">
                        <p style="color: #005cbf" th:text="${mgs}"></p>
                        <table class="table table-hover" id="tablenhanvien">
                            <thead>
                            <tr>
                                <th>Tên</th>
                                <!--                                <th>ngày sinh</th>-->
                                <!--                                <th >cmnd</th>-->
                                <!--                                <th >SĐT</th>-->
                                <th>Email</th>
                                <!--                                <th>lương</th>-->
                                <th>Thành phố</th>
                                <th>Vị trí</th>
                                <th>Bộ phận</th>
                                <th>Trình độ</th>
                                <!--                                <th>Tên_User</th>-->
                                <th>Sửa</th>
                                <th>Xóa</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="nhanvien1 : ${nhanviens}">
                                <td th:text="${nhanvien1.tenNhanVien}"></td>
                                <!--                                <td th:text="${nhanvien1.ngaysinh}"></td>-->
                                <!--                                <td th:text="${nhanvien1.sdt}"></td>-->
                                <!--                                <td th:text="${nhanvien1.socmnd}"></td>-->
                                <td th:text="${nhanvien1.email}"></td>
                                <!--                                <td th:text="${nhanvien1.luong}"></td>-->
                                <td th:text="${nhanvien1.thanhpho}"></td>
                                <td th:text="${nhanvien1.trinhDo.tenTrinhDo}"></td>
                                <td th:text="${nhanvien1.viTri.tenViTri}"></td>
                                <td th:text="${nhanvien1.boPhan.tenBoPhan}"></td>
                                <!--                                <td th:text="${nhanvien1.usermap.tenUser}"></td>-->
                                <td>
                                    <a th:href="@{/nhanvien/edit(id = ${nhanvien1.idNhanVien})}">
                                        Sửa
                                    </a>
                                </td>
                                <td>
                                    <a th:href="@{/nhanvien/delete(id = ${nhanvien1.idNhanVien})}">
                                        Xóa
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <!--    trường hợp chưa search-->
                        <div th:if="${nameSearch == null}">
    <span>
        <a th:if="${nhanviens.hasPrevious()}" th:href="@{/nhanvien(page=${nhanviens.number - 1})}">Trước</a>
    </span>
                            <span th:each="pageNo: ${#numbers.sequence(0,nhanviens.totalPages -1)}">
            <a th:href="@{/nhanvien(page = ${pageNo})}" th:text="${pageNo}"></a>
    </span>

                            <span>
        <a th:if="${nhanviens.hasNext()}" th:href="@{/nhanvien(page=${nhanviens.number + 1})}">Sau</a>
    </span>
                        </div>

                        <!--                        trường hợp search-->
                        <div th:if="${nameSearch != null}">
    <span>
        <a th:if="${nhanviens.hasPrevious()}"
           th:href="@{/search(page=${nhanviens.number - 1} , nameSearch=${nameSearch})}">Trước</a>
    </span>

                            <span th:each="pageNo: ${#numbers.sequence(0,nhanviens.totalPages -1)}">
            <a th:href="@{/search(page = ${pageNo} , nameSearch=${nameSearch})}" th:text="${pageNo}"></a>
    </span>
                            <span>
        <a th:if="${nhanviens.hasNext()}"
           th:href="@{/search(page=${nhanviens.number + 1}, nameSearch=${nameSearch})}">Sau</a>
    </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1">
            </div>
        </div>
    </nav>
    <br><br>
    <div th:replace="~{footer :: footer1}">
    </div>
</div>
</body>
</html>
